<a href="https://colab.research.google.com/github/kunaldash/Data-Science/blob/master/Analysis_of_eCommerce_data_GLTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Client Requirements:
1. Find the top spenders or spending customers
2. Identify loyal customers
3. Find repeat customers
4. Which products sell together?

Install necessary packages as required.

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.16.0)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.5)

In [ ]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.35.1)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: numpy<1.19.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.18.5)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.32.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.3.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.12.4)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.10.0)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorboard<3,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.10.0)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: scipy==1.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.9.2->tensorflow) (50.3.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.17.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (0.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.7.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.23.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (1.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (3.0.4)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)

In [ ]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.0.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=2.1.2->seaborn) (1.15.0)

In [ ]:
!pip install pickle-mixin

Collecting pickle-mixin
  Downloading https://files.pythonhosted.org/packages/02/77/9d5eb2201bbc130e2a5cc41fc949e4ab0da74b619107eac1c511be3af7a7/pickle-mixin-1.0.2.tar.gz
Building wheels for collected packages: pickle-mixin
  Building wheel for pickle-mixin (setup.py) ... done
  Created wheel for pickle-mixin: filename=pickle_mixin-1.0.2-cp36-none-any.whl size=6000 sha256=aea6fae83c50990e64d4fbf25e17ddf6d23f1e533ee00cd3bc6b5cd4493b782f
  Stored in directory: /root/.cache/pip/wheels/cd/05/42/71de70fa36b9cbb7657bb5793a16f8028c1cdc1bdd3b8e1ac3
Successfully built pickle-mixin
Installing collected packages: pickle-mixin
Successfully installed pickle-mixin-1.0.2

Import necessary libraries.

In [ ]:
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

The first objective of the retailer is to segment the retailer using a couple of features.
Therefore, as the first step, read in the data:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving GLTC Data.xlsx to GLTC Data.xlsx

Next read the imported data file

In [ ]:
import io
df = pd.read_excel(io.BytesIO(uploaded['GLTC Data.xlsx']))

Explore the dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21840 entries, 0 to 21839
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   21840 non-null  datetime64[ns]
 1   Time                   21840 non-null  object
 2   Time Zone              21840 non-null  object
 3   Category               21840 non-null  object
 4   Item                   21840 non-null  object
 5   Quantity               21840 non-null  int64
 6   Price Point Name       15670 non-null  object
 7   SKU                    8324 non-null   object
 8   Modifiers Applied      21840 non-null  object
 9   Gross Sales            21840 non-null  float64
 10  Discounts              21840 non-null  float64
 11  Net Sales              21840 non-null  float64
 12  Tax                    21840 non-null  float64
 13  Transaction ID         21840 non-null  object
 14  Device Name            20519 non-null  object
 15  Event Type             21840 non-null  object
 16  Location               21840 non-null  object
 17  Dining Option          21703 non-null  object
 18  Customer ID            15649 non-null  object
 19  Customer Reference ID  364 non-null    object
 20  Unit                   21840 non-null  object
 21  Count                  21840 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(15)
memory usage: 3.7+ MB

In [ ]:
df.head()

        Date      Time  ... Unit Count
0 2017-08-30  11:11:23  ...   ea     1
1 2017-08-30  11:11:23  ...   ea     1
2 2017-12-09  10:35:42  ...   ea     1
3 2017-12-09  10:35:42  ...   ea     1
4 2017-12-09  10:35:42  ...   ea     1

[5 rows x 23 columns]

In [ ]:
df.tail()

            Date      Time  ... Unit Count
21835 2017-01-12  12:33:15  ...   ea     1
21836 2017-01-12  12:33:15  ...   ea     1
21837 2017-01-12  11:54:15  ...   ea     1
21838 2017-01-12  11:54:15  ...   ea     1
21839 2017-01-12  11:54:15  ...   ea     1

[5 rows x 23 columns]

Drop the "Sales Type" feature as it has no data in it.

In [ ]:
df.drop(['Sales type'], axis=1)

In [ ]:
df.head()

        Date      Time  ... Unit Count
0 2017-08-30  11:11:23  ...   ea     1
1 2017-08-30  11:11:23  ...   ea     1
2 2017-12-09  10:35:42  ...   ea     1
3 2017-12-09  10:35:42  ...   ea     1
4 2017-12-09  10:35:42  ...   ea     1

[5 rows x 22 columns]

Replace the "NaN" value in "Modifiers Applied" feature to "No".

In [ ]:
df["Modifiers Applied"].fillna("No", inplace = True)
df

            Date      Time  ... Unit Count
0     2017-08-30  11:11:23  ...   ea     1
1     2017-08-30  11:11:23  ...   ea     1
2     2017-12-09  10:35:42  ...   ea     1
3     2017-12-09  10:35:42  ...   ea     1
4     2017-12-09  10:35:42  ...   ea     1
...          ...       ...  ...  ...   ...
21835 2017-01-12  12:33:15  ...   ea     1
21836 2017-01-12  12:33:15  ...   ea     1
21837 2017-01-12  11:54:15  ...   ea     1
21838 2017-01-12  11:54:15  ...   ea     1
21839 2017-01-12  11:54:15  ...   ea     1

[21840 rows x 22 columns]

Replace "NaN" values in other features throughout the dataset as applicable.

In [ ]:
df["Price Point Name"].fillna("Not available", inplace = True)
df["SKU"].fillna("Not available", inplace = True)
df.head()

        Date      Time  ... Unit Count
0 2017-08-30  11:11:23  ...   ea     1
1 2017-08-30  11:11:23  ...   ea     1
2 2017-12-09  10:35:42  ...   ea     1
3 2017-12-09  10:35:42  ...   ea     1
4 2017-12-09  10:35:42  ...   ea     1

[5 rows x 22 columns]

Generate month and year from the Date feature

In [ ]:
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month
df.head()

        Date      Time                   Time Zone  ... Count  year  month
0 2017-08-30  11:11:23  Central Time (US & Canada)  ...     1  2017      8
1 2017-08-30  11:11:23  Central Time (US & Canada)  ...     1  2017      8
2 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12
3 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12
4 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12

[5 rows x 24 columns]

Which unique items were sold over time?

In [ ]:
df["Item"].unique()

array(['Green Flower Rooibos, organic', 'Iced Tea', 'Energizing Harmony',
       'Basket Infuser', 'Hot Tea', 'Bubble Tea', 'Chai',
       'Dark Chocolate Mint Pu-erh', 'Citrus Green Dragon Tea',
       'Fruit Fiesta', 'Raspberry Leaf', 'Tea Cake',
       'Paper Tea Filter With Drawstring', 'Calming Harmony',
       'Rooibos Chai', 'Mandarin Silk', 'Earl Grey, Organic',
       'ACS 4 Piece Box', 'Custom Amount', 'Raspberry Rooibos',
       'AnXi Oolong', 'Honey Bush, organic', 'Rooibos Creamsicle',
       'Almond Apple', 'Cranberry Creme', 'Sweet Pomegranate',
       'Turmeric Chai, Organic', 'South of the Border',
       'ChaCult Basket Infuser', 'Decaf Ceylon', 'Finum Tea Filter',
       'Ginger Pu-Erh, organic', 'Restoring Harmony',
       'Matcha Bowl, Black', 'Chocolate Bar', 'Blueberry, Organic ',
       'Kukicha, organic', 'Silver Needles, Organic ',
       'Dragonwell, Organic', 'Eternal Peace', 'Kombucha', 'Shirt',
       'Winter Fair', 'Genmaicha, organic', 'Matcha Set',
       'Heavenly Blue Peak', 'Jade Oolong', 'Shangri La',
       'Hojicha, organic', 'Manatea Infuser',
       'Mist Iced Tea Jug With Infuser', 'White Coconut Cream',
       'Jade Mist (Yun Wu), Organic Green Tea', 'Cherry Blossom Green',
       'Moroccan Mint, organic', 'Healthy Harmony',
       'Orange Almond Vanilla', 'Special Tea', 'High Tea',
       'Pacific Coast Mint', 'Chamomile Lavender', 'Butterscotch White',
       'Tea Ball (tea Egg)', 'Emerald Sun', 'Sale Tea', 'Spring Harmony',
       'Peach, Organic', 'Apricot Escape', 'ACS Single',
       'ACS 2 Piece Box', 'Matcha, Organic Grade A',
       'Cute-Tea Infuser (hedgehog)', 'ACS Chip Bag', 'Blue Strawberry',
       'Naked Pu Erh', 'Wuyi Oolong', 'Blackberry', 'Mango Tulsi',
       'Masala Chai, organic and fair trade', 'Cat Infuser (purr Tea)',
       'China Jasmine', 'Pumpkin Cream Green', 'Honey Bush',
       'White Peony, Organic ', 'Ceylon Star', 'Green Flower Rooibos',
       'Mint Brulee', 'Beehouse Teapot', 'Slow Brew Sloth Infuser',
       'Irish Breakfast', 'Cold Brew', 'Matcha Sticks, Organic',
       'Foggy London', 'Caramel Apple', 'Cheese Tea', 'Ginger Peach',
       'Peach Black Tea', 'Strawberry Mango', 'Orange Blossom',
       'Earl Grey Creme', 'Sunny England', 'Pecan Pie', 'Butter Truffle',
       'Earl Grey Green', 'Peppermint Cream',
       'Chocolate Covered Strawberry', 'Kiwis Big Adventure',
       'Pumpkin Cheesecake', 'Curve Cup', 'North Point Darjeeling',
       'Banana Dulce, Organic', 'Lemonade Lift', 'Berry Jubilee',
       'Cha Cult Infuser', 'Passionfruit Jasmine', 'Yunnan Black',
       'Mushroom Power Tea', 'Citrus Eucalyptus',
       'Tea, Loose Uncategorized', 'Winter White Chai', 'Lavender Lady',
       'Pot Of Tea To Stay', 'Sencha, Organic', 'Citrus Green Dragon',
       'Day of the Dead tea, Friday Nov 1', 'Kombucha Refill',
       'Kombucha Bottle', 'Polymer Clay', 'Mist Iced Tea Pitcher',
       'Extra Bubble', 'Pumpkin Cream', 'Caramel Biscuit',
       'Fred Infusers', 'Assam TGFOP', 'Apple Cinnamon',
       'Utilitea Kettle', 'Scone', 'ACS 8 Piece Box', 'Bamboo Whisk',
       'Raspberry Matcha, Organic ', 'Blueberry White',
       'English Breakfast Black', 'Raspberry Black Tea',
       'Dark Chocolate Peppermint', 'Pina Colada', 'Tropic Tea',
       'Very Berry Pu-erh', 'Apple Cider Rooibos', 'ACS 15 Piece Box',
       'Dew Mug', 'Rooibos Passion', 'Vanilla Bean', 'Gunpowder',
       'Honeydew Heaven', 'Candied Pomegranate', 'Amber Rock Sugar',
       'Assam Sessa', 'Hibiscus, Organic ', 'French Lemon',
       'Cute-Tea Infuser', 'Black Masala Chai', 'Cookie',
       'Match Tin,  Ceremonial Grade, 2 Oz', 'Tea Rose',
       'ACS Stocking Stuffer', 'Jasmine Pearls', 'Grapefruit Orange',
       'Winter Faire', 'Flower Infuser', 'Iced Chai',
       'Tea Storage Tin, Tall, Navy With Fans', 'Honey Stick',
       'Orange Spice', 'Lemon Basil', 'Raspberries & Cream',
       'Maple Walnut', 'First Flush 2018 Makaibari, organic',
       'Silver Tips, Organic', 'Brew Bunny Infuser', 'Milk Oolong',
       'Buddhist Tea', 'Chamomile And Honey White Chocolate',
       'Apple Almond', 'Pumpkin Spice', 'Chai (Black)', 'Hot Chai',
       'Tropical Tango', 'Biscotti', 'Creme Brulee', 'Mayan Pepper Chai',
       'Mint Milk Chocolate', 'Jasmine Milk Chocolate', 'Thai Tea',
       'Chocolate Pyramid', 'Advent Tea Calendar', 'Float Tea',
       'Halloween High Tea, Sunday Oct 13',
       'Day of the Dead tea, Sat. Nov 2', 'Adjustment', 'Fierce Cup',
       'Green Rooibos', 'Green Citrus Dragon Tea',
       'Tea Tin, Metal Rectangular With Cups', 'Peach Blossom , Organic',
       'Halloween High Tea, Sat. Oct 26', 'Single',
       'Masala Chai, organic', 'Baby Nessie Infuser', 'Cat Infuser Cup',
       'Platypus Infuser', 'Pu-erh Ginger', 'Tea 101', 'Whisk Holder',
       'Tuscan Dreams', 'Free Tea, Lincoln Expo', 'Wild Pu-erh Buds',
       'Coconut Cacao Pu Erh', 'Moroccan Mint', 'Ginger Pu-Erh',
       'Magic II', 'Painting', 'Valrhona Box', 'Golden Milk Tea',
       'Natural Selection Mushroom Tea', 'Tea Storage Tin, Short',
       '8 Piece Box', '$1 Iced Tea', 'Sunday Dec 22 Christmas Tea',
       'Tea with a Cause Friday Sept 27', 'Pao Thermo Mug Ultra',
       'Earl Green', 'Sugar Cubes', 'Jade Mist, Organic Green Tea',
       'Matcha Mini Bar', 'Christmas Tea', 'Stocking Stuffer Tea',
       'South of the Border - 8oz', 'Healthy Harmony - 2oz',
       'Apple Cinnamon - 2 oz', 'Rooibos Chai, organic - 2oz', 'Shipping',
       'Sugar Shape Jar', 'White Gogi Blossom', 'Chocolate Book',
       'Glass Teapot', 'Tea Storage Tin', 'Dog Infuser Cup',
       'Tea Ornament Sampler', 'Matcha Float',
       'Tropic Tea Infuser (flamingo)', 'Makaibari First Flush',
       'Blue Jasmine', 'Bordeaux Puerh', 'Tea and Chocolate Gift Pack',
       'Sharkie Infuser', 'Green Pearls', 'Almond Apple Delight',
       'Lychee Black Tea', 'For Life Basket Infuser',
       'Matcha Stick Boxes', 'Halloween High Tea, Sunday Oct 27',
       'Decaf Sencha', 'Jasmine Green Tuo Cha', '4 Piece Box',
       'Mr. Tea Infuser', 'Harvest Moon', 'Iced Tea Class', 'Blue Shadow',
       'Sencha', 'Bamboo Tea Scoop', 'Witches Brew',
       'Tea Tin Holiday Set', 'ACS Bars', 'AC Custom',
       'Tea Sampler 4x1oz', '15 Piece Box', 'Matcha Haru no Ko',
       'Two For Tea', 'Turmeric Chai - 4 oz',
       'Passionfruit Jasmine - 4 oz', 'Halloween High Tea, Friday Oct 11',
       'ForLife Green Cup', 'Halloween High Tea, Sat Oct 12',
       'Organic Matcha Tin', 'Tea Timer', 'BT Large', 'Elephant Infuser',
       'Saturday Dec 21 Christmas Tea', 'Genmaicha',
       'North Point Darjeeling, organic - 4oz', 'Ginger Peach - 4oz',
       'Kombucha Kraze', 'Peppermint Bark', 'Green Leaf Cup',
       'White Teapot', 'Regular Tea Of The Month - 3 month',
       'Chocolate Eggs', 'Teahorse Infuser "Under The Tea"',
       'Friday Dec 20 Christmas tea', 'Green Tea Sips & Tips',
       'Brew Whale Infuser'], dtype=object)

Subset data by year

In [ ]:
df2019 = df[df.year == 2019]
df2019.head()

         Date      Time                   Time Zone  ... Count  year  month
5  2019-03-07  15:36:36  Central Time (US & Canada)  ...     1  2019      3
6  2019-01-10  14:06:16  Central Time (US & Canada)  ...     1  2019      1
27 2019-01-22  16:38:17  Central Time (US & Canada)  ...     1  2019      1
42 2019-09-03  11:43:07  Central Time (US & Canada)  ...     1  2019      9
43 2019-09-03  11:43:07  Central Time (US & Canada)  ...     1  2019      9

[5 rows x 24 columns]

In [ ]:
df2018 = df[df.year == 2018]
df2018.head()

         Date      Time                   Time Zone  ... Count  year  month
7  2018-12-19  14:00:55  Central Time (US & Canada)  ...     1  2018     12
8  2018-12-14  14:45:05  Central Time (US & Canada)  ...     1  2018     12
9  2018-12-14  14:45:05  Central Time (US & Canada)  ...     1  2018     12
10 2018-12-14  14:45:05  Central Time (US & Canada)  ...     1  2018     12
11 2018-12-14  14:45:05  Central Time (US & Canada)  ...     1  2018     12

[5 rows x 24 columns]

In [ ]:
df2017 = df[df.year == 2017]
df2017.head()

        Date      Time                   Time Zone  ... Count  year  month
0 2017-08-30  11:11:23  Central Time (US & Canada)  ...     1  2017      8
1 2017-08-30  11:11:23  Central Time (US & Canada)  ...     1  2017      8
2 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12
3 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12
4 2017-12-09  10:35:42  Central Time (US & Canada)  ...     1  2017     12

[5 rows x 24 columns]

What are the top 5 items sold by year?

In [ ]:
df2019["Item"].value_counts()

Bubble Tea                            2125
Hot Tea                                543
Iced Tea                               426
Custom Amount                          189
Tea Cake                               173
                                      ...
White Teapot                             1
Halloween High Tea, Sunday Oct 27        1
Regular Tea Of The Month - 3 month       1
Halloween High Tea, Sat Oct 12           1
Green Rooibos                            1
Name: Item, Length: 224, dtype: int64

In [ ]:
df2018["Item"].value_counts()

Bubble Tea             1428
Hot Tea                 341
Iced Tea                277
Custom Amount           218
High Tea                190
                       ...
Mint Milk Chocolate       1
Decaf Sencha              1
Berry Jubilee             1
Platypus Infuser          1
ACS Bars                  1
Name: Item, Length: 191, dtype: int64

In [ ]:
df2017["Item"].value_counts()

Bubble Tea                          626
Hot Tea                             367
Iced Tea                            222
Custom Amount                       192
Cookie                              170
                                   ...
Matcha Sticks, Organic                1
Green Tea Sips & Tips                 1
Teahorse Infuser "Under The Tea"      1
Brew Whale Infuser                    1
Mist Iced Tea Jug With Infuser        1
Name: Item, Length: 150, dtype: int64